@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "leaflet/dist/leaflet.css";

:root {
  /* --text-primary:    */
}

html {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-size: normal;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ------------------MenuBar -------------------- */
.menuBar {
  width: 25vw;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* ------------------Search MenuBar -------------------- */

.closeSidebar {
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%, 50%);
  top: 29%;
  right: 2%;
}

.custom_search {
  position: absolute;
  height: 60px;
  padding: 5px;
  text-align: center;
  z-index: 1000;
  width: 25%;
  text-align: center;
}

.search--input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: none;
  font-size: 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 2px 4px 2px rgba(23, 59, 239, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  z-index: 11;
}

.search-icon:hover {
  cursor: pointer;
}
.search--input:focus {
  outline: none;
}

.building_bg--img {
  width: 100%;
  height: 48;
  object-fit: cover;
}

/* -------------G floor ------------- */
.layer-control {
  min-height: 110px;
}

.layer-control_header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.layer-control_item--label {
  font-size: 14px;
  padding-top: 6px;
}

.button_find_route:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.button_find_route:active {
  transform: scale(0.98);
}

.button_find_route.active {
  background-color: #af281e;
  color: white;
}
/* ------------ Notification ------------ */
.notification_side {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.noti {
  padding: 8px 16px;
  border-radius: 8px;
  min-width: 25vw;
  animation:
    fadeIn 0.5s,
    fadeOut 2s 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.noti_desc {
  margin-top: 8px;
  font-style: italic;
}

.noti.success {
  background-color: #ddf7e5;
  color: #048f24;
  border-left: 5px solid #048f24;
}

.noti.error {
  background-color: #fff3f4;
  color: #ee1717;
  border-left: 5px solid #ee1717;
}

.noti.warning {
  background-color: #fffef9;
  color: #ffbf00;
  border-left: 5px solid #ffbf00;
}

/* -------------------- Search Result --------------------*/
.result_search {
  min-width: 30vw;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding-right: 16px;
}

.icon_result {
  font-size: 30px;
  color: #155dfc;
}

.result--title {
  margin: 12px 0px;
}

.result_line {
  min-height: 200px;
  width: 5px;
}

.value {
  font-weight: 400;
}
