@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "leaflet/dist/leaflet.css";

:root {
  /* --text-primary:    */
}

html {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-size: normal;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ------------------MenuBar -------------------- */
.menuBar {
  width: 25vw;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* ------------------Search MenuBar -------------------- */

.closeSidebar {
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%, 50%);
  top: 29%;
  right: 2%;
}

.custom_search {
  position: absolute;
  height: 60px;
  padding: 5px;
  text-align: center;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

.search--input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 2px 4px 2px rgba(23, 59, 239, 0.1);
}

.search--input:focus {
  outline: none;
}

.building_bg--img {
  width: 100%;
  height: 48;
  object-fit: cover;
}

/* -------------G floor ------------- */
.layer-control {
  min-height: 110px;
}

.layer-control_header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.layer-control_item--label {
  font-size: 14px;
  padding-top: 6px;
}

.button_find_route:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.button_find_route:active {
  transform: scale(0.98);
}

.button_find_route.active {
  background-color: #af281e;
  color: white;
}
